/node_modules/nodeunit/node_modules/tap/node_modules/.bin/
/node_modules/nodeunit/node_modules/tap/node_modules/runforcover/node_modules/bunker/node_modules/burrito/node_modules/.bin/
/node_modules/nodeunit/node_modules/.bin/